<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ecuador Website</title>
  <link rel="stylesheet" href="/stylesheets/main.css"/>
</head>
<body>
  <nav class="nav-bar">
    <ul class="nav-ul-bar">
      <li><a class="nav-bar-item" href="/home">Home</a></li>
      <li><a class="nav-bar-item" href="/about">About us</a></li>
      <li><a class="nav-bar-item" href="/works">Works</a></li>
      <li><a class="nav-bar-item" href="/gallery">Photo Gallery</a></li>
    </ul>
  </nav>
  <h1>About us</h1>
  <section id="about">
  <p>Ecuador is one of the smallest countries of South America. In its small territory it is possible to find almost all the existing biodiversity and weather of the Earth due to its proximity to the Pacific Ocean, the Highlands, and the Amazon River</p>
  <hr>
  <div class="aboutus"></div>
    <img src ="/images/location.png" style="width: 700px;">
  </div>
</section>
</body>
</html>