<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ecuador Website</title>
  <link rel="stylesheet" href="/stylesheets/main.css"/>
</head>
<body>
  <nav class="nav-bar">
    <ul class="nav-ul-bar">
      <li><a class="nav-bar-item" href="/home">Home</a></li>
      <li><a class="nav-bar-item" href="/about">About us</a></li>
      <li><a class="nav-bar-item" href="/works">Works</a></li>
      <li><a class="nav-bar-item" href="/gallery">Photo Gallery</a></li>
    </ul>
  </nav>
  <h1>Our Work</h1>
  <div class="works">
    <img src="/images/handcraft1.jpeg" alt="Cost Handcraft">
    <img src="/images/handcraft2.jpeg" alt="Highlands Handcraft">
    <img src="/images/handcraft3.jpeg" alt="Amazon Region Handcraft">
    <img src="/images/handcraft4.jpeg" alt="Galapagos Islands Handcraft">
  </div>
</body>
</html>